.black--btn {
          padding: 5px 29px;
          border: none;
          background-color: #22262A;
          color: white;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;

          cursor: pointer;
}

.white--btn {
          padding: 5px 29px;
          border: none;
          background-color: white;
          color: black;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          text-align: center;
          text-transform: uppercase;

          cursor: pointer;
}